{% extends "partials/base.html" %}

{% block content %}
<div class="p-4 sm:ml-64">

  <p class="text-3xl font-bold underline ml-96 mb-10 uppercase">Les filières</p>
    <div class="pl-11 pt-10 pr-10">
      
        
      <a href="{% url "tableau_admin" %}">
        <button type="button" class="text-white bg-[#095415] hover:bg-[#095415]/80 focus:ring-4 focus:outline-none focus:ring-[#095415]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#FF9119]/80 dark:focus:ring-[#FF9119]/40 me-2 mb-2">    
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 me-2 -ms-1 text-white">
            <path fill-rule="evenodd" d="M9.53 2.47a.75.75 0 0 1 0 1.06L4.81 8.25H15a6.75 6.75 0 0 1 0 13.5h-3a.75.75 0 0 1 0-1.5h3a5.25 5.25 0 1 0 0-10.5H4.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
          </svg>
          Retour
        </button>
      </a>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-[700px]" >
          <table class="w-[700px] text-sm text-left rtl:text-right text-gray-950 dark:text-gray-400">
              <thead class=" text-white uppercase bg-[#095415] dark:bg-[#095415] dark:text-white">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          ID
                      </th>
                    
                      <th scope="col" class="px-6 py-3">
                          FILIERE
                      </th>
                  </tr>
              </thead>
              {% for filiere in filieres %}
              
              <tbody>
                  <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                      <td class="px-6 py-4 ">
                        {{filiere.id}}
                      </td>
                      <td class="px-6 py-4 text-center flex flex-2 gap-4">
                        {{filiere.nom_filiere}}
    
                      </td>
                  </tr>
                  
              </tbody>
              {% endfor %}
          </table>
        </div>
      </div>
      <br>
  
   
</div>
{% endblock %}