{% extends "partials/base.html" %}

{% load static %}
{% block content %}
  <div class="mt-16 mb-10 ml-[350px] mr-10  grid grid-cols-2 gap-6 items-center max-w-2xl max-h-xl bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-3xl md:max-h-[500px] dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">

    
    <div class="">
        <img src="{% static 'images/logob.png' %}" class="ml-28 w-48 h-48" alt="Logo">
    <form action="" method="POST"
      class="max-w-md mx-auto md:max-h-[300px]  pl-7">
      {% csrf_token %}
      <h1 class=" text-[#095415] font-bold text-2xl text-center">Connexion</h1>
        <ul class=flashes>
            {% for message in messages %}
        
            <div class="alert alert-danger bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        
            <span class="block sm:inline font text-sm"><li>{{ message }}</li></span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
            </div>
            {% endfor %}
        </ul>  
        <br>

        {{form.as_p}}
    
    
      <button type="submit" class="mb-3 text-white text-xl bg-[#095415] hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-700  rounded-lg text-sm w-full sm:w-full px-4 py-2 text-center dark:bg-green-700 dark:hover:bg-green-700 dark:focus:ring-[#095415]">Se connecter</button>
  
    </form>

    
  </div>
  <div class="bg-[#095415] rounded-tr-lg rounded-br-lg h-[490px]">
    <img src="{% static 'images/connexion.png' %}" class=" md:max-h-[310px] mt-16 h-full" alt="Logo">
  </div>
  
  </div>
  
{% endblock %}