{% extends "partials/base.html" %}

{% load static %}
{% block content %}

<div class="p-4 sm:ml-64">
    <div class="flex mb-4 items-center justify-center">
        <img src="{% static 'images/logob.png' %}" class=" h-48 w-68 " alt="user">
         
      </div>
      <form method="get">
        {{ form.as_p }}
        <button type="submit" class="mb-3 bg-cyan-500 rounded-lg px-2 py-2 text-white hover:bg-cyan-700">recherhe</button>
    </form>

<div class="relative overflow-x-auto lg:ml-48 ms:ml-16 ms:w-full">
    <a href="{% url "tableau_admin" %}">
        <button type="button" class="text-white bg-[#095415] hover:bg-[#095415]/80 focus:ring-4 focus:outline-none focus:ring-[#095415]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#FF9119]/80 dark:focus:ring-[#FF9119]/40 me-2 mb-2">    
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 me-2 -ms-1 text-white">
            <path fill-rule="evenodd" d="M9.53 2.47a.75.75 0 0 1 0 1.06L4.81 8.25H15a6.75 6.75 0 0 1 0 13.5h-3a.75.75 0 0 1 0-1.5h3a5.25 5.25 0 1 0 0-10.5H4.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
          </svg>
          Retour
        </button>
    </a>
    <a href="{% url "create_planning" %}">
        <button type="button" class="ml-72 text-white bg-yellow-500 hover:bg-yellow-300 focus:ring-4 focus:outline-none focus:ring-yellow-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-yellow-500 dark:focus:ring-yellow-300 me-2 mb-2">    
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 me-2 -ms-1 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          Ajouter
        </button>
    </a>
    <br>
    <table class="w-96 sm:w-96 ms:64 border border-gray-200 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="border border-gray-200 px-6 py-3">
                    Jour
                </th>
                <th scope="col" class="border  border-gray-200 px-6 py-3">
                    Heure
                </th>
                <th scope="col" class="border  border-gray-200 px-6 py-3">
                    Matière
                </th>
                <th scope="col" class="border  border-gray-200 px-6 py-3">
                    Salle
                </th>
                <th scope="col" class="border  border-gray-200 px-6 py-3">
                    Formateur
                </th>
                <th scope="col" class="border border-gray-200 px-6 py-3">
                    Durée
                </th>
            </tr>
        </thead>
        {% if plannings %}
        {% for edt in plannings %}
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <td class="border border-1 border-gray-200 px-6 py-4">
                    {{edt.jour}}
                </td>
                <td class="border border-1 border-gray-200 px-6 py-4">
                    {{edt.heure_cours|date:"H:i"}}
                </td>
                <td class="border border-1 border-gray-200 px-6 py-4">
                    {{edt.matiere}}
                </td>
                <td class="border border-1 border-gray-200 px-6 py-4">
                    {{edt.salle}}
                </td>
                <td class="border border-1 border-gray-200 px-6 py-4">
                    M. {{edt.formateur.nom}}
                </td>
                <td class="border border-1 border-gray-200 px-6 py-4">
                    {{edt.duree}}
                </td>
            </tr>
            
            
        </tbody>
        {% endfor %}
        {% else %}
        <p>Aucun emploi du disponible à cette date</p>
        {% endif %}
    </table>
</div>

{% endblock %}