{% extends "partials/base.html" %}

{% load static %}
{% block content %}
  <div class="mt-3 ml-[400px] mr-10 p-5 items-center max-w-2xl max-h-3xl bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-md md:max-h-xl dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">

    
    <div class="">
      

    
    
        {% comment %} <img src="{% static 'images/logob.png' %}" class="ml-28 w-48 h-48" alt="Logo"> {% endcomment %}
    <form method="POST"
      class="max-w-md mx-auto ">
      {% csrf_token %}
      <h1 class=" text-[#095415] font-bold text-2xl text-center" >ENVOIE MAILS</h1>
    
    
    <br>
    {{form.as_p}}
    
   
  
    <button type="submit" class="text-white text-xl  bg-cyan-500 hover:bg-cyan-700 focus:ring-4 focus:outline-none focus:ring-cyan-500 font-medium rounded-lg text-sm w-full sm:w-full px-5 py-2.5 text-center dark:bg-cyan-500 dark:hover:bg-cyan-500 dark:focus:ring-cyan-700">Valider</button>
    <br>
        
        
    
      
    </form>
   
    
    
  </div>

 
  </div>
  
{% endblock  %}

